/*COLORS*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Righteous&family=Scheherazade+New&family=Yaldevi:wght@200;500&display=swap");
.bg-header {
  background-color: black;
  animation: aparecer 500ms ease-in-out; }

.no-bg-sm {
  background-color: black; }

.bg-rose {
  background-color: #ff0066; }

.bg-sun {
  background-color: #ffcc33; }

.bg-neon {
  background-color: #00ff66; }

.bg-sky {
  background-color: #3399ff; }

.bg-sand {
  background-color: #ffffcc; }

.bg-grass {
  background-color: #66CC99; }

.black {
  background-color: black; }

/*MIXIN & SASS*/
/* TXT */
.txt-title, .txt-title-s {
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Righteous"; }

.txt-title-banner {
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Righteous";
  margin: 40px 0 30px; }

.txt-title-s {
  font-size: 25px;
  color: #FF5722;
  margin-top: 50px; }

.txt-img {
  color: black;
  z-index: 2;
  opacity: 0.8;
  font-weight: bold;
  font-family: "Righteous", cursive;
  background: black;
  color: #ffffff;
  animation: TextOpacity ease-in infinite 20s; }

.txt-prod {
  color: black;
  font-weight: 600;
  padding-top: 10px;
  font-size: 25px; }
  .txt-prod:hover {
    color: #0000ff; }

.txt_title {
  color: black;
  font-size: 20px;
  background: none; }

.txt-anim {
  animation: cambio 10s infinite;
  text-align: center;
  font-family: "Righteous", cursive; }

.txt-norm {
  text-align: justify;
  color: black;
  font-size: 14px; }

.txt-banner {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Markazi Text', serif;
  margin-bottom: 60px;
  background: rgba(0, 0, 0, 0.35);
  padding: 5px 20px;
  margin-right: 20px;
  border: 2px #f4f6f6 solid; }
  .txt-banner:hover {
    color: #ffffff;
    border: none;
    background-color: #302f2f; }

.hot:hover {
  color: #e74c3c; }

.cold:hover {
  color: #3399ff; }

/* BUTTONS */
.btn_social_footer {
  color: #c9c9c9;
  font-size: 2rem;
  font-weight: bold; }
  .btn_social_footer:hover {
    color: #ffffff; }

.btn_txt {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold; }
  .btn_txt_midpage {
    font-family: "Righteous", cursive;
    color: black; }
    .btn_txt_midpage:hover {
      font-family: "Righteous", cursive;
      color: #ffffff; }

.btn_nav {
  color: #ffffff;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer; }

.btn_search {
  background: none;
  color: rgba(0, 0, 0, 0.438);
  font-size: 1.3em;
  border: none;
  position: relative;
  margin-left: 40px;
  z-index: 2; }

.btn_social {
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  display: flex;
  align-content: center;
  cursor: pointer; }

.btn_galery {
  outline: none;
  background-color: #f4f6f6;
  padding: 10px 16px;
  width: 100%;
  cursor: pointer;
  border: 0.5px #e5e7e9 solid;
  box-shadow: 0 0.35rem 1.2rem #c7c7c7; }

.active_p {
  box-shadow: 0 0.5rem 1.2rem #1c2833;
  animation: borderDark ease-in-out 1s; }

.btn-wsp {
  padding: 4px 10px 7px;
  font-size: 40px;
  background-color: #23d623;
  color: white;
  border-radius: 50%; }

/* ELEMENTS */
* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  margin-bottom: 0px;
  font-family: 'Righteous', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

hr {
  margin-top: 30px;
  color: #ffffff; }

/* DISPLAY */
.d-500-none {
  display: block; }

.d-500-block {
  display: none; }

/* UTILITIES */
.divider {
  width: 80%; }

.agrandar {
  width: 100%; }

.bring_tofront {
  z-index: 120;
  opacity: 0.7;
  background-color: white; }

.none {
  display: none; }

.block {
  display: block; }

/* POSITION*/
.sticky-wap {
  position: fixed;
  left: 40px;
  bottom: 100px; }

.relative {
  position: relative; }

.absolute {
  position: absolute;
  top: 0; }

/*                    FOOTER                    */
.footer {
  background: linear-gradient(black, #2e2e2e);
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  flex-flow: row nowrap;
  align-items: center; }
  .footer_text {
    color: #e5e7e9;
    font-size: 12px;
    flex-grow: 1;
    text-align: justify; }
    .footer_text:hover {
      font-weight: 600;
      color: #ffffff; }

/* IMGS*/
.img-header {
  max-width: 120px;
  min-width: 80px; }

.img-anim {
  max-width: 300px;
  animation: Mover ease-in-out infinite 5s;
  align-self: center; }

.img-prod {
  padding: 5px 0;
  border-radius: 30%; }

.img-inicio {
  width: 100%;
  height: auto; }

/*------------------------------------CSS NORMAL-----------------------*/
.menu_item {
  color: black;
  z-index: 1200; }

.p {
  color: black;
  background: none;
  font-size: 13px; }

.flip-flops:hover {
  background: linear-gradient(#a50000, #ff8616);
  color: white; }

.flip-flops:focus {
  background: linear-gradient(#a50000, #ff8616);
  color: white; }

/* KEYFRAMES*/
@keyframes borderDark {
  0% {
    box-shadow: 0 0.35rem 1.2rem #c7c7c7; }
  50% {
    box-shadow: 0 0.35rem 1.2rem #34495e; }
  100% {
    box-shadow: 0 0.35rem 1.2rem #1c2833; } }

@keyframes TextOpacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes Mover {
  50% {
    transform: scale(1.2); }
  75% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }

@keyframes cambio {
  20% {
    color: #9dff00; }
  40% {
    color: red; }
  60% {
    color: #f3970c; }
  80% {
    color: #c51274; }
  100% {
    color: #92081f; } }

@keyframes cambiobyw {
  25% {
    color: white; }
  50% {
    color: black; }
  75% {
    color: white; }
  100% {
    color: black; } }

@keyframes cambiobg {
  25% {
    background-color: black;
    color: white; }
  50% {
    background-color: white;
    color: black; }
  75% {
    background-color: black;
    color: white; }
  100% {
    background-color: white;
    color: black; } }

@keyframes aparecer {
  50% {
    padding: 20px 0px; }
  100% { } }

/* MQWERYS*/
@media screen and (min-width: 1024px) {
  .txt-title-banner {
    font-size: 80px; }
  .img_header {
    max-width: 150px; }
  .img-prod {
    padding: 0 0;
    border-radius: 20%; } }

@media screen and (min-width: 768px) {
  .no-bg-sm {
    background-color: transparent; }
  .bg-header {
    background-color: black;
    animation: aparecer 500ms ease-in-out; }
  .nobg {
    background: none;
    animation: desaparecer 500ms ease-in-out; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    50% {
      padding: 20px 0px; }
    100% {
      opacity: 1; } }
  @keyframes desaparecer {
    0% {
      opacity: 1;
      background: black; }
    50% {
      padding: 20px 0px; }
    100% {
      opacity: 0;
      background: none; } }
  .img-prod {
    padding: 0 0;
    border-radius: 80px; } }

@media screen and (min-width: 650px) {
  .d-500-none {
    display: none; }
  .d-500-block {
    display: block; } }
