/*COLORS*/
$color-select: #0000ff;
$color-select-secondary: #f4f6f6;
$color-hover: #e74c3c;
$color-dark: #1c2833;
$color-text-white: #ffffff;
$color-text-black: black;
$color-text-gray: rgb(201, 201, 201);
$color-href: #34495e;
$color-orange:#FF5722;
$color-border: #e5e7e9;
$color-base: rgb(0, 0, 0);
$colors-primary:("red":#e74c3c,"blue":#0000ff,"yellow":#ffcc33);
/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Open+Sans:wght@400;500;600&family=Righteous&family=Scheherazade+New&family=Yaldevi:wght@200;500&display=swap');
$bg-rose: #ff0066;
$bg-sun: #ffcc33;
$bg-neon: #00ff66;
$bg-sky: #3399ff;
$bg-sand: #ffffcc;
$bg-grass:#66CC99;
$bg-green:#23d623;
$bg-black:black;
$bg-gray:#302f2f;
.bg-header{
  background-color: $bg-black;
  animation: aparecer 500ms ease-in-out;
}
.bg-header-w{
  background-color:white;
  box-shadow:  0 0.35rem 1.2rem #c7c7c7;;
  animation: aparecer 500ms ease-in-out;
}
.no-bg-sm{
  background-color: $bg-black;
}
.bg-white{
  background-color: white;
}
.bg-rose {
  background-color: $bg-rose;
}
.bg-sun {
  background-color: $bg-sun;
}
.bg-neon {
  background-color: $bg-neon;
}
.bg-sky {
  background-color: $bg-sky;
}
.bg-sand {
  background-color: $bg-sand;
}
.bg-grass{
  background-color: $bg-grass;
}
.black {
  background-color: $color-base;
}
.blacko{
  color: black;;
  
}
/*COLOR*/ 
@each $color in (red,yellow,blue,green,orange,pink,gray,lightgray,darkgray,white) {
  &.#{$color} {
    color: $color;
}	
}
.cblack{
  color: black;
}
/* TXT */
$txt-title: 40px;
$txt-title-secondary: 14px;
$txt-base: 14px;
$txt-btn: 1.7rem;
$txt-bold: 600;
$font-title: "Righteous";

/*MIXIN & SASS*/

@mixin txt-title {
  
  font-weight: $txt-bold;
  font-family: $font-title;
}

.txt-title {
  @include txt-title();
  
}
.txt-title-banner{
  @include txt-title();
  margin: 40px 0 30px;
}
.txt-title-s {
  @extend .txt-title;

}
.txt{
  &-img {
    color: $color-base;
    z-index: 2;
    opacity: 0.8;
    font-weight: bold;
    font-family: "Righteous", cursive;
    background: $color-base;
    color: $color-text-white;
    animation: TextOpacity ease-in infinite 20s;}
  &-prod {
    color: $color-base;
    font-weight: $txt-bold;
    padding-top: 10px;
    font-size:$txt-title-secondary;


    &:hover {
      color: $color-hover;
    }
  }
  &_title {
    color: $color-base;
    font-size: 20px;
    background: none;
  }
  &-anim {
    animation: cambio 10s infinite;
    text-align: center;
    font-family: "Righteous", cursive;
  }
  &-norm {
    text-align: justify;
    color: $color-base;
    font-size: $txt-base;
  }
  &-white{
    color: $color-text-white;
  }
  &-banner{
    color: $color-text-white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Righteous', serif;
    margin-bottom: 60px;
    background: transparentize($color: $bg-black, $amount: 0.65);
    padding: 8px 20px;
    margin-right: 20px;
    border: 2px $color-select-secondary solid;
    &:hover{
      color: $color-text-white;
      border-color: $color-orange;
     
      
    }
  }
}
.hot:hover{
  color: $color-hover;
}
.cold:hover{
  color: $bg-sky;
}
/* BUTTONS */
.btn_social_footer {
  color: $color-base;
  font-size: $txt-btn;
  font-weight: bold;
  &:hover {
    color: $color-hover;
  }
}
.btn_talles{
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  &:hover{
    background-color: $color-hover;
  }
}
.active_talles{
  background-color: $color-hover;
}
.btn_black {
  background: transparent;
  border: none;
  color: $color-base;
  font-size: $txt-btn;
  font-weight: bold;
  &:hover {
    color: $color-hover;
  }
}
.btn_white {
  background: transparent;
  border: none;
  color: $color-text-white;
  font-size: $txt-btn;
  font-weight: bold;
  &:hover {
    color: $color-hover;
  }
  &-rounded{
    color: white;
    background-color:$color-hover;
    padding: 5px 10px;
    border: none;
    outline: none;
  }
}
.btn_txt {
  color: $color-text-white;
  font-size: $txt-btn;
  font-weight: bold;
  &_midpage {
    font-family: "Righteous", cursive;
    color: $color-text-black;
    &:hover {
      font-family: "Righteous", cursive;
      color: $color-text-white;
    }
  }
}

.btn_nav {
  
  font-size: $txt-btn;
  border: none;
  background: none;
  cursor: pointer;
}
.btn_search {
  background: none;
  color: rgba(0, 0, 0, 0.438);
  font-size: 1.3em;
  border: none;
  position: relative;
  margin-left: 40px;
  z-index: 2;
}

.btn_social {
  color: white;
  font-size: $txt-btn;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.btn_galery {
  outline: none;
  background-color:$color-select-secondary;
  padding: 10px 8px;
  width: 100%;
  cursor: pointer;
  border: 0.5px $color-border solid;
  box-shadow: 0 0.35rem 1.2rem #c7c7c7;
}
.active_p {
  box-shadow: 0 0.5rem 1.2rem $color-dark;
  animation: borderDark ease-in-out 1s;
}

.btn_return{
  color: $color-base;
  font-size: 40px;
  &:hover{
    color: $color-orange;
  }
}
/* ELEMENTS */
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

hr {
  margin-top: 30px;
  
}

/* DISPLAY */

.d-500-none {
  display: block;
}
.d-500-block {
  display: none;
}
/* UTILITIES */
.divider {
  width: 80%;
  color: $color-text-white;
}
.agrandar {
  width: 100%;
}
.espaciador{
  height: 50px;
}
.bring_tofront {
  z-index: 120;
  opacity: 0.7;
  background-color: white;
  
}
.none{
  display: none;
}
.block{
  display: block;
}
/* POSITION*/ 

.relative{
  position: relative;
}
.absolute{
  position:absolute;
  top:0;
}
/*                    FOOTER                    */

.footer {
  // background: linear-gradient($color-base, rgb(46, 46, 46));
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 60px;
  flex-flow: row nowrap;
  align-items: center;
  
  &_text {
    
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
    font-family: 'Righteous',serif;
    &:hover {
      font-weight: 500;
      color: $color-orange;
      
    }
    &-copyright{
      color: $bg-gray;
      font-size: small;
    }
  }
}

/* IMGS*/
.img {
  &-header {
    max-width: 120px;
    min-width: 80px;
    
  }
  &-anim {
    max-width: 300px;
    animation: Mover ease-in-out infinite 5s;
    align-self: center;
  }
  &-prod {
    padding: 5px 0;
    border-radius: 30%;
  }
  &-inicio{
    width: 100%;
    height: auto;
  }
  &-yo{
    border-radius: 50%;
    
  }
}

/*------------------------------------CSS NORMAL-----------------------*/

.menu_item {
  color: $color-base;
  z-index: 1200;
}


.p {
  text-align: justify;
  background: none;
  font-size:$txt-base;
}

.flip-flops {
  &:hover {
    background: linear-gradient(rgb(165, 0, 0), rgb(255, 134, 22));
    color: white;
  }
  &:focus {
    background: linear-gradient(rgb(165, 0, 0), rgb(255, 134, 22));
    color: white;
  }
}


/* KEYFRAMES*/
@keyframes borderDark {
  0% {
    box-shadow: 0 0.35rem 1.2rem #c7c7c7;
  }
  50% {
    box-shadow: 0 0.35rem 1.2rem $color-href;
  }
  100% {
    box-shadow: 0 0.35rem 1.2rem $color-dark;
  }
}
@keyframes TextOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Mover {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes cambio {
  20% {
    color: rgb(157, 255, 0);
  }
  40% {
    color: red;
  }
  60% {
    color: rgb(243, 151, 12);
  }

  80% {
    color: rgb(197, 18, 116);
  }
  100% {
    color: rgb(146, 8, 31);
  }
}
@keyframes cambiobyw {
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
@keyframes cambiobg {
  25% {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  75% {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
@keyframes aparecer {
  
  50%{padding: 20px 0px;}
  100%{}
}

/* MQWERYS*/
@media screen and (min-width: 1024px) {
  
  $txt-title:80px;
  .txt-title-banner{
    font-size: $txt-title;
  }
  .img_header {
    max-width: 150px;
  }
  .img-prod {
    padding: 0 0;
    border-radius: 20%;
  }
}
@media screen and (min-width: 768px) {
  .txt-prod{
    font-size:17px ;
  }
  .espaciador{
    height: 150px;
  }
  .txt-norm{
  font-size: 17px;}
  .btn_return{
    color: $txt-base;
    font-size: 70px;
    
  }
  .sticky-wap{
    position: fixed;
    left: 40px;
    bottom: 40px;
    }
  .btn-wsp{
    font-size: 35px;
    padding: 5px 11.5px;
    align-items: center;
    background-color: $bg-grass;
    border-radius: 50%;
    color: #fff;
  }
  
  .no-bg-sm{
    background-color: transparent;
  }
  .bg-header{
    background-color: $bg-black;
    animation: aparecer 500ms ease-in-out;
  }
  .nobg{
  background: none;
    animation: desaparecer 500ms ease-in-out ;
    
  }
  @keyframes aparecer {
    0%{opacity: 0;}
    50%{padding: 20px 0px;}
    100%{opacity: 1;}}
    @keyframes desaparecer {
      0%{opacity: 1;
      background: $bg-black;}
      50%{padding: 20px 0px;}
      100%{opacity: 0;
        background: none;
      }
    }
  .img-prod {
    padding: 0 0;
    border-radius: 80px;
  }
}
@media screen and (min-width: 500px) {
  .d-500-none {
    display: none;
  }
  .d-500-block {
    display: block;
  }
}

